.cy_lyt {
    display: flex;
    flex-direction: row;

    article.list {
        flex: 1;

        .article_content {
            height: 100%;
            padding: 50px 100px;
            overflow: auto;
        }
    }

    aside.sidebar {
        position: sticky;
        top: 0;
        bottom: 0;
        width: 400px;
        border-left: 1px solid #eee;

        padding: 50px;
    }
}
