/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Fira Code';
    src: url('assets/fonts/Fira_Code_v4/woff2/FiraCode-Light.woff2') format('woff2'),
        url('assets/fonts/Fira_Code_v4/woff/FiraCode-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Fira Code';
}

html {
    body {
        overflow: hidden;
        height: 100vh;
        width: 100vw;
    }
}

.view,
.view_scroll {
    height: 100%;
    width: 100%;
}
.view {
    overflow: hidden;
}
.view_scroll {
    overflow: auto;
}
